.m_contact{ :class => 'item ' }
  .write_comment{ :class => 'clearfix' }
    %h3 Nachricht an Stroke Unit
    %p
      Schreib mal wieder!
    %p
      %a{ :href => "ten.tinuekorts@tcatnoc:otliam", :class => "reverse" }
        ten.tinuekorts@tcatnoc
