.m_disco{ :class => "item" }
  .header{ :class => 'clearfix' }
    %h3 El Perdedor (2010)
  .release_data{ :class => 'clearfix' }
    %img{ :src => "/images/el_perdedor_cover.jpg", :width => "180", :border => "0" }
    %ul
      %li
        %a{ :href => '#', :onclick => "setTopMargin('lyrics_dialog1');", :class => "lyrics lyrics_1" }
          El Perdedor
      %li
        %a{ :href => '#', :onclick => "setTopMargin('lyrics_dialog2');", :class => "lyrics lyrics_2" }
          Jilly Bean
      %li
        %a{ :href => '#', :onclick => "setTopMargin('lyrics_dialog3');", :class => "lyrics lyrics_3" }
          Animan
      %li
        %a{ :href => '#', :onclick => "setTopMargin('lyrics_dialog4');", :class => "lyrics lyrics_4" }
          Virus Mankind
      %li
        %a{ :href => '#', :onclick => "setTopMargin('lyrics_dialog5');", :class => "lyrics lyrics_5" }
          Bloodymir
  .order_link{ :class => 'clearfix' }
    %a{ :href => "mailto:order@strokeunit.net?subject=Bestellung&body=Ich%20will%20eine%20CD%20kaufen!%20Übrigens%20wollte%20ich%20noch%20sagen", :class => "buy" }
      Bestellen
