.m_merch{ :class => 'item clearfix' }
  .clearfix
    %img{ :src => "/images/el_perdedor_cover.jpg", :width => "140", :border => "0" }
    %h4 El Perdedor
    %div
      %p
        Das neue Album 'El Perdedor', veröffentlicht 2010, 11 Tracks, Gesamtspielzeit 39:06
      %p
        %b
          Preis:
        10,- €
  .order_link
    %a{ :href => "mailto:order@strokeunit.net?subject=Bestellung&body=Ich%20will%20eine%20CD%20kaufen!%20Übrigens%20wollte%20ich%20noch%20sagen", :class => "buy" }
      Bestellen