.main_menu{ :class => 'item clearfix' }
  %ul
    %li#m_home{ :class => 'selected' }
      Home
    %li#m_live
      Live
    %li#m_disco
      Disco
    %li#m_merch
      Merch
    %li#m_contact
      Contact
