.item( class="m_merch clearfix" )
  .clearfix
    %img( src="images/el_perdedor_cover.jpg" width="140" border="0" )
    %h4 El Perdedor
    %div
      %p Das neue Album 'El Perdedor', veröffentlicht 2010, 11 Tracks, Gesamtspielzeit 39:06
      %p
        %b Preis:
        10,- €

  .order_link
    %a(href="mailto:order@strokeunit.net?subject=Bestellung&body=Ich%20will%20eine%20CD%20kaufen!%20Übrigens%20wollte%20ich%20noch%20sagen" class="buy")
      Bestellen

.item( class="m_merch clearfix" )
  .clearfix
    %a( class="shirt_detail" onclick="setTopMargin('shirt_detail');" )
      %img( src="images/shirt_sandy.jpg" width="140" border="0" )
    %h4 T-Shirt
    %div
      %p Verfügbar in den Größen S, M, L, XL. Gebt bei der Bestellung eure Wunschgröße an!
      %p (Klickt auf das Bild für die Detailansicht des Logos)
      %p
        %b Preis:
        12,- €
  .order_link
    %a( href="mailto:order@strokeunit.net?subject=Bestellung&body=Ich%20will%20ein%20T-Shirt%20kaufen!%20Größe%20(hier%20deine%20Größe%20eintragen!)%20Übrigens%20wollte%20ich%20noch%20sagen" class="buy" )
      Bestellen

.item( class="m_merch clearfix" )
  .clearfix
    %img( src="images/buttons.jpg" width="140" border="0" )
    %h4 Buttons
    %div
      %p In den folgenden Farben erhältlich: Schwarz, Weiß, Gelb, Grün, Orange, Braun, Violett, Blau
      %p
        %b Preis:
        0,50 €
  .order_link
    %a( href="mailto:order@strokeunit.net?subject=Bestellung&body=Ich%20will%20Buttons%20kaufen!%20Übrigens%20wollte%20ich%20noch%20sagen" class="buy" )
      Bestellen

.item( class="m_merch clearfix" )
  .clearfix
    %img( src="images/lighters.jpg" width="140" border="0" )
    %h4 Feuerzeug
    %div
      %p Feuerzeuge in verschiedenen Farben mit eine Stroke Unit Aufdruck.
      %p
        %b Preis:
        1,- €
  .order_link
    %a( href="mailto:order@strokeunit.net?subject=Bestellung&body=Ich%20will%20ein%20Feuerzeug%20kaufen!%20Übrigens%20wollte%20ich%20noch%20sagen" class="buy" )
      Bestellen

.item( class="m_disco" )
  .header( class="clearfix" )
    %h3 El Perdedor (2010)
  .release_data( class="clearfix" )
    %img( src="images/el_perdedor_cover.jpg" width="180" border="0" )
    %ul.track-list
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog1');" class="lyrics lyrics_1" )
          El Perdedor
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog2');" class="lyrics lyrics_2" )
          Jilly Bean
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog3');" class="lyrics lyrics_3" )
          Animan
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog4');" class="lyrics lyrics_4" )
          Virus Mankind
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog5');" class="lyrics lyrics_5" )
          Bloodymir
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog6');" class="lyrics lyrics_6" )
          Lost It
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog7');" class="lyrics lyrics_7" )
          We've met before
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog8');" class="lyrics lyrics_8" )
          Proud of your Courage
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog9');" class="lyrics lyrics_9" )
          The nagging Missus
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog10');" class="lyrics lyrics_10" )
          Halls of Valhalla
      %li
        %a( href="#" onclick="setTopMargin('lyrics_dialog11');" class="lyrics lyrics_11" )
          Arriba Caco
  .order_link( class="clearfix" )
    %a( href="mailto:order@strokeunit.net?subject=Bestellung&body=Ich%20will%20eine%20CD%20kaufen!%20Übrigens%20wollte%20ich%20noch%20sagen" class="buy" )
      Bestellen

.item( class="m_disco" )
  .header( class="clearfix" )
    %h3 Might be Mighty (2006)
  .release_data( class="clearfix" )
    %img( src="images/might_be_mighty_cover.jpg" width="180" border="0" )
    %ul
      %li Alone
      %li Frank the Tank
      %li Encore
      %li Living Suicide
      %li 5 - 2 - 12
      %li Lovestar Galactica
      %li 9 - 11 is a Joke?!
      %li Fake
      %li With X-ed Fingers
      %li Might be Mighty
  .order_link( class="clearfix" )
    %a( class="buy" )
      Ausverkauft :(

.item( class="m_bio clearfix" )
  .header( class="clearfix" )
    %h3 Stroke Unit
  .pic_box_right
    %img( src="images/StrokeUnit_bandfoto1.jpg" width="160" )
  %p Es ist fast 10 Jahre her als 2001 der Grundstein für diese Band gelegt wurde. Heute, mehrere Demos, 2 Studioalben und unzählige Gigs später, ist Stroke Unit eine bestens eingespielte Truppe aus erfahrenen Musikern, die es verstehen live zu überzeugen.
  %p Über die Jahre hat man eine eigene Definition von Rock entwickelt: solide Gitarren, viel Groove und eine intensive und energiegeladene Stimme. Die Songs sind nicht einfach nur schnell zusammengeschustert, sonder gut durchdacht und genau ausbalanciert.
  %p Damit legen Stroke Unit seit 10 Jahren massig Köder aus. Mehrsprachiger Gesang, fetter Sound, viel Schweiss und Gesichtskino.
  %p Also Angel raus und rann an den Lachs!

.item( class="m_contact" )
  .write_comment( class="clearfix" )
    %h3 Nachricht an Stroke Unit
    %p Du kannst uns unter dieser Emailadresse erreichen:
    %p
      %a( href="ten.tinuekorts@tcatnoc:otliam" class="reverse" )
        ten.tinuekorts@tcatnoc

.item( class="m_impressum" )
  %h3 Verantwortlich für diese Internetpräsenz
  %p
    %br
    Adalbert Gorecki
    %br
    Düsseldorfer Straße 60
    %br
    44143 Dortmund
    %br
    Germany
    %br
    %br
    %a( href="ten.tinuekorts@tcatnoc:otliam" class="reverse" )
      ten.tinuekorts@tcatnoc
  %h3 Haftungsausschuss
  %p
    %b
      1. Inhalt des Onlineangebotes
    %br
    Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
  %p
    %b
      2. Verweise und Links
    %br
    Bei direkten oder indirekten Verweisen auf fremde Webseiten ("Hyperlinks"), die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten/verknüpften Seiten hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller verlinkten /verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen Formen von Datenbanken, auf deren Inhalt externe Schreibzugriffe möglich sind. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
  %p
    %b
      3. Urheber- und Kennzeichenrecht
    %br
    Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind! Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.
  %p
    %b
      4. Datenschutz
    %br
    Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet. Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie Emailadressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei Verstössen gegen dieses Verbot sind ausdrücklich vorbehalten.
  %p
    %b
      5. Rechtswirksamkeit dieses Haftungsausschlusses
    %br
    Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.