#radio
  %object.playerpreview{ :type => "application/x-shockwave-flash", :data => "swf/player_mp3.swf", :width => "200", :height => "100" } 
    %param{ :name => "movie", :value => "swf/player_mp3.swf" }
    %param{ :name => "FlashVars",  :value => "mp3=audio/el_perdedor.mp3|audio/bloodymir.mp3|audio/the_nagging_missus.mp3|audio/Ba-Be-Bup.mp3&amp;title=El Perdedor|Bloodymir|The Nagging Missus|Turn Table Rocker Olli K.&amp;bgcolor1=cc0000&amp;bgcolor2=990000&amp;showvolume=1" }