.social_link{ :class => 'item' }
  %a{ :href => "http://www.twitter.com/stroke_unit", :target => "_blank" }
    %img{ :src => "/images/twitter_icon_small.gif", :border => "0" }

.social_link{ :class => 'item' }
  %a{ :href => "http://de-de.facebook.com/pages/Stroke-Unit/155734424462984", :target => "_blank" }
    %img{ :src => "/images/facebook_icon_small.gif", :border => "0" }

.social_link{ :class => 'item' }
  %a{ :href => "http://www.myspace.com/strokeunit", :target => "_blank" }
    %img{ :src => "/images/myspace_icon_small.gif", :border => "0" }
  
.social_link{ :class => 'item' }
  %a{ :href => "http://www.lastfm.de/music/Stroke+Unit", :target => "_blank" }
    %img{ :src => "/images/lastfm_icon_small.gif", :border => "0" }
  
.social_link{ :class => 'item' }
  %a{ :href => "http://www.youtube.com/user/StrokeUnitRocks", :target => "_blank" }
    %img{ :src => "/images/youtube_icon_small.gif", :border => "0" }
  